.body {
  display: flex;
  background-color: hsl(30, 54%, 90%);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 800;
  color: hsl(30, 10%, 34%);
  font-family: Arial, Helvetica, sans-serif;
}
.recipe {
  background: white;
  max-width: 700;
  min-width: 375;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
}
.topContainer {
  display: flex;
  flex-direction: column;
}
.omlette {
  height: 220;
  width: inherit;
  border-radius: 10px;
  padding-top: 10px;
}

.title {
  display: flex;
  justify-content: start;
  align-items: start;
}

.description {
  font-size: 11;
  color: hsl(30, 10%, 34%);
  font-weight: 600;
  padding-bottom: 30px;
}

.preparationContainer {
  display: flex;
  flex-direction: column;
  background: hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 10px;
}

.preparation {
  color: hsl(332, 51%, 32%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 25px;
}
.prepList {
  margin: 20px;
  padding: 0 10 0 30;
  line-height: 30px;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-size: 14;
}

.prepList li {
  padding-left: 20px;
}

.prepList li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredientsContainer {
  border-bottom: 1px hsl(30, 18%, 87%) solid;
}

.ingredients {
  color: hsla(31, 100%, 26%, 0.796);
  font-family: "Times New Roman", Times, serif;
}

.ingredientsList {
  color: hsl(30, 10%, 34%);
  padding: 10px;
  line-height: 30px;
  font-size: 14;
  font-weight: 500;
  list-style-type: square;
  margin: 20px;
  padding: 0;
}

.ingredientsList li::marker {
  color: hsla(31, 100%, 26%, 0.796);
}

.ingredientsList li {
  padding-left: 10px;
}
.instructions {
  color: hsla(31, 100%, 26%, 0.796);
  font-family: "Times New Roman", Times, serif;
}

.instructionsContainer {
  border-bottom: 1px hsl(30, 18%, 87%) solid;
}

.instructionsList {
  color: hsl(30, 10%, 34%);
  padding: 10px;
  line-height: 20px;
  font-size: 10;
  font-weight: 500;
  margin: 20px;
  padding: 0;
}

.instructionsList li {
  padding-left: 15px;
}

.instructionsList li::marker {
  color: hsla(31, 100%, 26%, 0.796);
  font-size: 13;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.nutritionContainer {
  padding-bottom: 10px;
}
.nutrition {
  color: hsla(31, 100%, 26%, 0.796);
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 15px;
}

.nutritionDescription {
  color: hsl(30, 10%, 34%);
  font-size: 10;
  font-weight: 600;
  padding-bottom: 20px;
}

.calories {
  border-bottom: 1px hsl(30, 18%, 87%) solid;
  padding-left: 10px;
  padding-bottom: 10px;
  word-spacing: 200px;
  font-size: 14;
}

.carbs {
  padding-left: 10px;
  border-bottom: 1px hsl(30, 18%, 87%) solid;
  padding-bottom: 10px;
  padding-top: 10px;
  word-spacing: 214px;
  font-size: 14;
}

.protein {
  border-bottom: 1px hsl(30, 18%, 87%) solid;
  padding-left: 10px;
  padding-bottom: 10px;
  word-spacing: 207px;
  padding-top: 10px;
  font-size: 14;
}

.fat {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  word-spacing: 230px;
  font-size: 14;
}

.energy {
  color: hsl(30, 10%, 34%);
  font-size: 14;
}

.sizes {
  color: hsla(31, 100%, 26%, 0.796);
  font-size: 14;
  font-weight: 700;
}
